        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .slides img {
            display: none;
        }

        .active {
            display: block !important;
        }

        .slides {
            height: 80vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        .galeria {
            position: relative;
        }

        button {
            position: absolute
        }

        #botonAnt {
            top: 50%;
            transform: translateY(-50%);
        }

        #botonSig {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }