@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    background-color: #faf3dd;
}
.section_about_me{
    font-family: 'Josefin Slab', serif;
}
.topbar_about_me{
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #68b0ab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #8fc0a9;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
}
.topbar_inline{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
}
.topbar_menu_item{
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #c8d5b9;
    
}


table,th,td,tr{
    border-collapse: collapse;
    border: 6px solid #000000;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #9b5d5d;
    text-decoration: none;
    transition: color 0.3s ease;
}


/*
.team_logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
}

.cup_logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: right;
    display: inline-block;
    margin-left: auto;
}
.zona_libertadores{
    background-color: #1bfc07;
}
.zona_sudamericana{
    background-color: #007bff;
}
.zona_promocion{
    background-color: #e1fa00;
}
.zona_descenso{
    background-color: #d80f0f;
}
*/

th,td,tr{
    border: 5px solid #000000;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #973636;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: rgb(236, 241, 245);
}

.league_title{

    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 100%;
    max-width: 1200px;
    border: 5px solid #000000;
}

.national_cups_title{
    margin: 15px auto;
    width: 100%;
    max-width: 1200px;
    border: 5px solid #000000;
    border-radius: 10px;
}

.league_and_cups_table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 100%;
    max-width: 1200px;
    border: 5px solid #000000; 
    border-radius: 10px;
}

li{
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: rgb(27, 117, 196);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
    display: inline-block;
}

th{
    color: #000000;
}