@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
    background-color: #bad7f2;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: black solid 2px;
    max-width: fit-content;
    
}
th,td,tr{
    border: black solid 2px;
   padding: 10px;
}

.topbar_about_me{
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #68b0ab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #8fc0a9;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
}
.topbar_inline{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
}
.topbar_menu_item{
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #c8d5b9;
    
}

.positions-table-title{
    justify-content: center;
    display: flex;
}
.zona_libertadores{
    background-color: #87eb0c;
}
.zona_sudamericana{
    background-color: #237386;
}
.zona_descenso{
    background-color: red;
}
.zona_promocion{
    background-color: yellow;
}

.team_logo{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

.cup_logo{
    height: 50px;
    width: 50px;
}

.background_logo{
    border: none; /* Sino el display flex hace un borde grueso*/
    display: flex;
    align-items: center;
    gap: 10px;
}