/*
*{
    margin: 0;
    padding: 0;
    
}*/
*{
    color: aliceblue;
}
body{
    background-image: url(./assets/fondo_libertadores.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    height: 32px;
    width: 32px;
}
li{
    list-style: none;
    background-color: #054a29;
    border-radius: 10px;
}

.topbar_about_me{
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #054a29;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #2a9134;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px 25px 25px 25px;
}
.topbar_inline{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
}
.topbar_menu_item{
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #c8d5b9;
    
}

.libertadores_title{
    text-align: center;
    color: aliceblue;
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
.logo_dundler_mifflin{
    height: 50px;
    width: 50px;
}
.libertadores_logo{
    display: flex;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}
.group_title{
    background-color: #2a9134;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #000000;
}
.groups1_2{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.groups3_4_5{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}